html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

body {
    /* LENGTH */
    --span_height: 50px;
    --span_height2: 120px;

    /* COLOR */
    --black: black;
    --white: white;
    --brown: #563232;
    --green: #a1c539;
    --grey1: #bfbfbf;
    --grey2: #808080;

    /*BCD3F2*/
    --color3: #CBCBD4;

    /*BORDER RADIUS*/
    --radius: 20px;
    --radius2: 13px;

    display: flex;
    align-items: center;
    /* background-color: var(--grey1);
    background: linear-gradient(180deg, var(--grey1), var(--grey2)); */
}

.pointer {
    cursor: pointer;
}

.grow:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

/* PAGE ACCUEIL */

.bodyMenu {
    background-image: url(image/fond2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* background: linear-gradient(180deg, var(--grey1), var(--grey2)); */
}

header {
    width: 80%;
    height: 40%;
    border: solid 5px var(--brown);
    border-radius: var(--radius);
    margin-left: 10%;
}

.menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background: linear-gradient(90deg, var(--brown), var(--green)); */
    border-radius: var(--radius2);
}

.regroupe {

    height: var(--span_height);
    width: 20%;
    max-width: 180px;
    padding: 5px;

    flex-direction: column;
    background-color: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primaire,
.secondaire {
    height: 100%;
    width: 100%;
    align-content: center;
}

.primaire span,
.secondaire span {
    height: var(--span_height);
    width: 100%;

    text-align: center;
    display: block;
    align-content: center;

    color: var(--white);
    background-color: var(--brown);
}


.secondaire {
    width: 0;
    height: 0;
    font-size: 0;
    color: var(--white);
}

.secondaire:hover {

    span {
        transition: 0.2s;
        color: var(--black);
        background-color: var(--white);
    }

}

.Competence:hover {
    .competence {
        clip-path: polygon(50% 0%,
                60% 33%,
                90% 33%,
                65% 63%,
                75% 100%,
                50% 80%,
                25% 100%,
                35% 63%,
                10% 33%,
                40% 33%);
    }
}

.regroupe.Savoir:hover {

    transition: 0.1s;
    height: var(--span_height2);
    background-color: var(--brown);

    .primaire {
        display: none;
        /* border: 1px solid var(--white); */
    }

    .secondaire {
        transition: 0.2s;
        height: var(--secondaire_height);
        width: 100%;
        font-size: var(--secondaire_font_size);
    }
}

#cv {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 0%;
    transition-duration: 0.6s;
}

#cvPdf {
    height: 90%;
    width: 100%;
    opacity: 0;
}

#retourCV {
    height: 0%;
    width: 0%;
    margin-left: 45%;

    border: none;
    border-radius: 10px;

    align-content: center;
    transition-delay: 1s;

}

#spanRetourCV {

    font-size: 0;

    font-weight: bold;
    color: var(--white);
    text-align: center;
    display: block;
}

/* PAGE ACCUEIL */

/* PAGE PROJETS */

.pageProjet {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.projet {
    display: flex;
    justify-content: space-between;
    height: 60%;
    width: 80%;
    margin-top: 10vh;
    margin-left: 10%;
}

.projet>img {
    height: 100%;
    width: 15%;
    object-fit: cover;
    opacity: 0.85;
}

.projet>img:hover {
    transition: 0.3s;
    opacity: 1;
}

.menuProjet {
    padding-top: 8vh;
    align-self: center;
}

.menuProjet>img {
    height: 35px;
    width: 35px;
}

/* PAGE PROJETS */

/* PAGE PROJETS CROCHET */

iframe {
    height: 80%;
    width: 80%;
    background-color: var(--white);
}

/* PAGE PROJETS CROCHET */