html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

body {
    /* LENGTH */
    --span_height: 50px;
    --span_height2: 120px;

    /* COLOR */
    --black: black;
    --white: white;
    --brown: #563232;
    --green: #59813d;
    --green2: #a1c539;
    --green3: #85aa5c;
    --grey1: #bfbfbf;
    --grey2: #808080;

    /*BCD3F2*/
    --color3: #CBCBD4;

    /*BORDER RADIUS*/
    --radius: 20px;
    --radius2: 13px;

    /*TIME*/
    --time1: 0.1s;
    --time2: 0.2s;
    --time3: 0.3s;
    --time4: 0.4s;
    --time5: 0.5s;
    --time6: 0.6s;
    --time7: 0.7s;
    --time8: 0.8s;
    --time9: 0.9s;
    --time10: 1s;
    --time15: 1.5s;
    --time20: 2s;
    --time30: 3s;

    display: flex;
    align-items: center;
    /* background-color: var(--grey1);
    background: linear-gradient(180deg, var(--grey1), var(--grey2)); */

    font-family: Georgia, serif;
}

a {
    color: var(--black);
    text-decoration: none;
}

.italic {
    font-style: italic;
}

.pointer {
    cursor: pointer;
}

.grow:hover {
    transition: transform var(--time3);
    transform: scale(1.05);
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.cache {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 0%;
}

.deplacement {
    height: 35px;
    width: 35px;
}

/* PAGE ACCUEIL */

.bodyMenu {
    background-image: url(image/fond2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* background: linear-gradient(180deg, var(--grey1), var(--grey2)); */

    overflow: hidden;
}

header {
    width: 80%;
    height: 40%;
    border: solid 5px var(--brown);
    border-radius: var(--radius);
    margin-left: 10%;

    animation-duration: var(--time8);
    animation-name: header;
}

@keyframes header {
    from {
        width: 100%;
        height: 80%;

        margin-left: 0;
    }

    to {
        width: 80%;
        height: 40%;

        margin-left: 10%;
    }
}

.menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background: linear-gradient(90deg, var(--brown), var(--green)); */
    border-radius: var(--radius2);
}

.regroupe {

    height: var(--span_height);
    width: 20%;
    max-width: 180px;
    padding: 5px;

    flex-direction: column;
    background-color: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primaire,
.secondaire {
    height: 100%;
    width: 100%;
    align-content: center;
}

.primaire span,
.secondaire span {
    height: var(--span_height);
    width: 100%;

    text-align: center;
    display: block;
    align-content: center;

    color: var(--white);
    background-color: var(--brown);
}

.primaire:hover {
    span {
        transition: var(--time2);
        color: var(--black);
        background-color: var(--white);
    }
}

.Savoir {
    animation-fill-mode: backwards;
    animation-delay: var(--time8);
    animation-duration: var(--time8);
    animation-name: boutonSavoirs;
}

@keyframes boutonSavoirs {
    from {
        margin-left: -50vw;
    }

    to {
        margin-left: 0;
    }
}

.secondaire {
    width: 0;
    height: 0;
    font-size: 0;
    color: var(--white);
}

.secondaire:hover {

    span {
        transition: var(--time2);
        color: var(--black);
        background-color: var(--white);
    }

}

#Projet {
    animation-fill-mode: backwards;
    animation-delay: var(--time8);
    animation-duration: var(--time8);
    animation-name: boutonProjets;
}

@keyframes boutonProjets {
    from {
        margin-left: 50vw;
        margin-top: calc(-120vh);
        transform: rotate(180deg);
    }

    to {
        margin-top: 0;
    }
}

.cv {

    clip-path: polygon(0 0,
            50% 0,
            100% 0,
            100% 0,
            100% 50%,
            100% 100%,
            50% 100%,
            0 100%,
            0 50%);

    transition: clip-path var(--time5);
}

.CV>.primaire span {
    animation-fill-mode: backwards;
    animation-delay: var(--time8);
    animation-duration: var(--time8);
    animation-name: boutonCV;
}

@keyframes boutonCV {
    from {
        margin-left: 50vw;
    }

    to {
        margin-left: 0;
    }
}

/* @keyframes boutonCV {
    from {
        background-color: transparent;
        color: transparent;
    }

    to {
        background-color: var(--brown);
        color: var(white);
    }
} */

.CV:hover {


    .cv {

        /* OCTOGONE */

        clip-path: polygon(0% 33%,
                33% 0%,
                66% 0%,
                100% 33%,
                100% 66%,
                66% 100%,
                33% 100%,
                0% 66%,
                0% 33%);

        /* ETOILE */
        /* clip-path: polygon(50% 0%,
                60% 33%,
                90% 33%,
                65% 63%,
                75% 100%,
                50% 80%,
                25% 100%,
                35% 63%,
                10% 33%,
                40% 33%); */
    }
}

.regroupe.Savoir:hover {

    transition: var(--time2);
    height: var(--span_height2);
    background-color: var(--brown);

    .primaire {
        display: none;
        /* border: 1px solid var(--white); */
    }

    .secondaire {
        transition: var(--time3);
        height: var(--secondaire_height);
        width: 100%;
        font-size: var(--secondaire_font_size);
    }
}

#cv {
    transition-duration: var(--time6);
}

#cvPdf {
    height: 90%;
    width: 100%;
    opacity: 0;
}

#retourCV {
    height: 0%;
    width: 0%;
    margin-left: 45%;

    border: none;
    border-radius: 10px;

    align-content: center;
    transition-delay: var(--time10);

}

#spanRetourCV {

    font-size: 0;

    font-weight: bold;
    color: var(--white);
    text-align: center;
    display: block;
}

/* PAGE ACCUEIL */

/* PAGE PROJETS */

.pageProjets {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.projet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    width: 80%;
    margin-top: 10vh;
    margin-left: 10%;
}

.projet>img {
    height: 100%;
    width: 15%;
    object-fit: cover;
    opacity: 0.85;

    animation-duration: var(--time7);
    animation-name: appearProjet;
}

@keyframes appearProjet {
    from {
        height: 0;
        width: 0;
    }

    to {
        height: 100%;
        width: 15%;
    }
}

.projet>img:hover {
    transition: var(--time3);
    opacity: 1;
}

.menuProjet {
    padding-top: 8vh;
    align-self: center;
}

/* PAGE PROJETS */

/* PAGE PROJET INDIVIDUEL */

.bodyProjet {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-X: hidden;
}

.boutonsProjet {
    padding-bottom: 8px;
    padding-top: 5px;
    width: 30%;
    max-width: 280px;
    height: 35px;

    background-color: var(--brown);

    display: flex;
    justify-content: space-evenly;

    clip-path: polygon(0 0,
            100% 0,
            100% 65%,
            80% 100%,
            20% 100%,
            0% 65%);

    position: fixed;

    animation-duration: var(--time15);
    animation-name: boutons;
}

@keyframes boutons {
    from {
        margin-top: -48px;
    }

    to {
        margin-top: 0;
    }
}

iframe {
    height: 80%;
    width: 80%;
    background-color: var(--white);
}

.pageProjet {
    padding-top: 75px;
    /* background-color: red; */
    width: 100%;
    height: 100%;

    gap: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.accesSite {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;

    animation-duration: var(--time20);
    animation-name: appearAccesSite;
}

.accesSite a {
    animation-duration: var(--time20);
    animation-name: appearAccesSite;
}

@keyframes appearAccesSite {
    from {
        color: white;
    }

    to {
        color: black;
    }
}

.txtLien:hover {
    color: var(--green);
}

.infosAcces {
    font-size: 14px;
}

.image_txt {

    width: calc(100% - 100px);

    padding: 20px;

    background-color: var(--brown);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        height: 30vw;
    }
}

.image_txt:nth-child(2n) {
    flex-direction: row-reverse;

    animation-duration: var(--time15);
    animation-name: slideInByRight;
}

.image_txt:nth-child(2n+1) {
    animation-duration: var(--time15);
    animation-name: slideInByLeft;
}

@keyframes slideInByRight {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}

@keyframes slideInByLeft {
    from {
        margin-right: 100%;
    }

    to {
        margin-right: 0%;
    }
}

.image_txt img {
    width: calc(45vw - 20px);
    object-fit: contain;
}

.txtProjet {
    width: calc(45vw - 20px);
    color: var(--white);
    display: flex;
    flex-direction: column;
}

.txtProjet span {
    line-height: 1.3;
    text-indent: 2em;
}

.conclusionProjet {
    font-weight: bold;
    width: 70%;
    padding-top: 40px;
    padding-bottom: 55px;
    text-align: center;
}

/* PAGE PROJET INDIVIDUEL */

/* PAGE SAVOIR-FAIRE */


.bodySavoirFaire {
    background-color: var(--brown);
    flex-direction: column;
    overflow-x: hidden;
}

.boutonsSavoirFaire,
.boutonsSavoirEtre {
    padding-bottom: 8px;
    padding-top: 5px;
    width: 100%;
    height: 35px;

    background-color: var(--brown);

    display: flex;
    justify-content: space-evenly;

    position: fixed;

}

.competences {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;

    animation-duration: var(--time10);
    animation-name: appearSavoirFaire;
}

@keyframes appearSavoirFaire {
    from {
        margin-bottom: 90vh;
    }

    to {
        margin-bottom: 0;
    }
}

.competences p {
    background-color: var(--grey1);

    width: 45%;
    padding-top: 20px;
    padding-bottom: 20px;

    align-content: center;
    text-align: center;
    font-weight: bold;
}

#competence1 {
    animation-duration: var(--time30);
    animation-name: competence1;
}

#competence2 {
    animation-duration: var(--time30);
    animation-name: competence2;
}

@keyframes competence1 {
    from {
        position: relative;
        right: 50%;
    }

    to {
        right: -50%;
    }
}

@keyframes competence2 {
    from {
        position: relative;
        left: 50%;
    }

    to {
        left: -50%;
    }
}

.liste {

    height: max-content;
    width: calc(100%-40px);


    /* TOP, RIGHT, BOTTOM, LEFT */
    margin: 60px 30px 0 30px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: 35px;
}

.block {
    height: 250px;
    width: 250px;
    max-width: (100%-40px);
    max-width: 100%;
    overflow-x: hidden;

    transition: height var(--time5),
        width var(--time5);
}

.block:nth-child(3n+1) {
    background-color: var(--green);
    color: var(--white);
}

.block:nth-child(3n+2) {
    background-color: var(--green2);
}

.block:nth-child(3n) {
    background-color: var(--green3);
}

.detail {
    margin-bottom: 50px;
    align-items: center;
}

.titre {
    height: 40px;
    margin-left: 3%;
    margin-right: 3%;

    align-content: center;
    text-align: center;
    font-weight: bold;
}

.illustrationSavoirFaire {
    padding-left: 4%;
    padding-right: 4%;
    width: 92%;
    height: 170px;
    object-fit: cover;
}

.block p:not(.titre) {

    text-indent: 2em;

    margin: 20px 3% 20px 3%;

    width: 94%;
    text-align: start;
}

.motLien {
    color: var(--brown);
}

/* PAGE SAVOIR-FAIRE */

/* PAGE SAVOIR-ÊTRE */

.bodySavoirEtre {
    background-color: var(--brown);
    flex-direction: column;

    color: var(--white);

    animation-fill-mode: backwards;
    animation-delay: var(--time10);
    animation-name: noOverflow;
}

@keyframes noOverflow {
    from {
        overflow: hidden;
    }

    to {
        overflow: auto;
    }
}

.txtSavoirEtre {
    width: 60vw;
    margin-top: 20vh;
}

.txtSavoirEtre span {

    background-color: var(--green3);
    color: var(--black);
    padding: 20px;

    animation-duration: var(--time10);
    animation-name: appearTxtSavoirEtre;
}

@keyframes appearTxtSavoirEtre {
    from {
        background-color: transparent;
        color: transparent;
    }
}

.listeSavoirEtre {
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    animation-duration: var(--time10);
    animation-name: appearListeSavoirEtre;

    div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@keyframes appearListeSavoirEtre {
    from {
        padding-top: 70vh;
    }
}

/* PAGE SAVOIR-ÊTRE */